<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/create.css" rel="stylesheet" type="text/css" />
    <link href="/images/add.png" rel="icon" type="image/x-icon" />
    <title>Create Word</title>
</head>
<body>
    <div class="create">
        <form class="add" method="post" action="/add">
            <h1>Add a Word</h1>
            <span>Group</span>
            <select name="group" id="group">
                <option name="Verb" value="Verb">Verb</option>
                <option name="A" value="A">A</option>
                <option name="B" value="B">B</option>
                <option name="D" value="D">D</option>
                <option name="E" value="E">E</option>
                <option name="F" value="F">F</option>
                <option name="G" value="G">G</option>
                <option name="H" value="H">H</option>
                <option name="I" value="I">I</option>
                <option name="J" value="J">J</option>
                <option name="K" value="K">K</option>
                <option name="L" value="L">L</option>
                <option name="M" value="M">M</option>
                <option name="N" value="N">N</option>
                <option name="O" value="O">O</option>
                <option name="P" value="P">P</option>
                <option name="Q" value="Q">Q</option>
                <option name="R" value="R">R</option>
                <option name="S" value="S">S</option>
                <option name="T" value="T">T</option>
                <option name="U" value="U">U</option>
                <option name="V" value="V">V</option>
                <option name="W" value="W">W</option>
                <option name="X" value="X">X</option>
                <option name="Y" value="Y">Y</option>
                <option name="Z" value="Z">Z</option>
            </select>
            <span>Type</span>
            <select name="type" id="type">
                <option name="noun" value="noun">Noun</option>
                <option name="adjective" value="adjective">Adjective</option>
                <option name="adverb" value="adverb">Adverb</option>
                <option name="verb" value="verb">Verb</option>
            </select>
            <br>
            <span>Word</span>
            <input name="word" id="word" type="text" required>
            <br>
            <span>How to pronounce</span>
            <input name="pronounce" id="pronounce" type="text">
            <br>
            <span>Definition</span>
            <br>
            <textarea name="definition" id="definition" cols="35" rows="3" required></textarea>
            <br>
            <button type="sumbit" id="sumbit">Add</button>
            <br>
            <a href="/rules">Rules</a>
            <a href="/dictionary/A">Dictionary</a>
        </form>
    </div>
</body>
</html>
