<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/create.css" rel="stylesheet" type="text/css" />
    <title>Create Word</title>
</head>
<body>
    <div class="create">
        <form method="get" action="/create">
            <h1>Add a Word</h1>
            <span>Group</span>
            <select name="group" id="group">
                <option value="Vern">Verb</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="S">S</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
            </select>
            <br>
            <span>Word</span>
            <input type="text" required>
            <br>
            <span>Head Word</span>
            <input type="text" required>
            <br>
            <span>Type</span>
            <select name="type" id="type">
                <option value="noun">Noun</option>
                <option value="adjective">Adjective</option>
                <option value="adverb">Adverb</option>
                <option value="verb">Verb</option>
            </select>
            <br>
            <span>How to pronounce</span>
            <input type="text">
            <br>
            <span>Definition</span>
            <input type="text" required>
        </form>
    </div>
</body>
</html>
