<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dictionary.css" rel="stylesheet" type="text/css" />
    <link href="images/dictionaryIcon.png" rel="icon" type="image/x-icon" />
    <title>Dictionary</title>
</head>
<body>
    <a href="/">Rules</a>
    <table id="demo"></table>
    <script>
        function myFunction(xml) {
            const xmlDoc = xml.responseXML;
            const entries = xmlDoc.getElementsByTagName("entry");
            const tableHeader = "<tr><th scope='col'>Word</th><th scope='col'>Description</th></tr>";
            let tableRows = "";
    
            for (let i = 0; i < entries.length; i++) {
                const word = entries[i].getElementsByTagName("word")[0].textContent;
                const description = entries[i].getElementsByTagName("description")[0].textContent;
                tableRows += `<tr><th scope='row'>${word}</th><td>${description}</td></tr>`;
            }
    
            const demo = document.getElementById("demo");
            demo.innerHTML = tableHeader + tableRows;
        }
    
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                myFunction(this);
            }
        };
        xhttp.open("GET", "dictionary.xml", true);
        xhttp.send();
    </script>

</body>
</html>
