<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dictionary.css" rel="stylesheet" type="text/css" />
    <link href="images/dictionaryIcon.png" rel="icon" type="image/x-icon" />
    <title>Kesko Dictionary</title>
</head>
<body>
    <div id="main">
        <h1>Dictionary</h1>
        <div class="travelBar">
            <a href="/">Rules</a>
        </div>
    </div>

    <script src="dictionary.js"></script>
</body>
</html>
