<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dictionary.css" rel="stylesheet" type="text/css" />
    <link href="/images/dictionaryIcon.png" rel="icon" type="image/x-icon" />
    <title>Kesko Dictionary</title>
</head>
<body>
    <div id="main">
        <h1>Kesko Dictionary</h1>
        <div class="travelBar">
            <a class="rules" href="/">Rules</a>
            <a class="letter" href="/dictionary/A">A</a>
            <a class="letter" href="/dictionary/B">B</a>
            <a class="letter" href="/dictionary/C">C</a>
            <a class="letter" href="/dictionary/D">D</a>
            <a class="letter" href="/dictionary/E">E</a>
            <a class="letter" href="/dictionary/F">F</a>
            <a class="letter" href="/dictionary/G">G</a>
            <a class="letter" href="/dictionary/H">H</a>
            <a class="letter" href="/dictionary/I">I</a>
            <a class="letter" href="/dictionary/J">J</a>
            <a class="letter" href="/dictionary/K">K</a>
            <a class="letter" href="/dictionary/L">L</a>
            <a class="letter" href="/dictionary/M">M</a>
            <a class="letter" href="/dictionary/N">N</a>
            <a class="letter" href="/dictionary/O">O</a>
            <a class="letter" href="/dictionary/P">P</a>
            <a class="letter" href="/dictionary/Q">Q</a>
            <a class="letter" href="/dictionary/R">R</a>
            <a class="letter" href="/dictionary/S">S</a>
            <a class="letter" href="/dictionary/T">T</a>
            <a class="letter" href="/dictionary/U">U</a>
            <a class="letter" href="/dictionary/V">V</a>
            <a class="letter" href="/dictionary/W">W</a>
            <a class="letter" href="/dictionary/X">X</a>
            <a class="letter" href="/dictionary/Y">Y</a>
            <a class="letter" href="/dictionary/Z">Z</a>
            <a href="/dictionary/verbs">Verbs</a>
        </div>
    </div>

    <script src="/NWord.js"></script>
</body>
</html>
