<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="rules.css" rel="stylesheet" type="text/css" />
    <link href="images/ruleIcon.png" rel="icon" type="image/x-icon" />
    <title>Kesko Rules</title>
</head>

<body>
    <a href="/create"><img src="./../images/open.png" alt="Open Box" height=35></a>
    <div class="rulesBox">
        <h1>Kesko Rules</h1>
        <a href="/dictionary/A">Dictionary</a>
        <h2>Phonology</h2>
        <h3>Vowels</h3>
        <ul>
            <li>A, E, I, O, U</li>
        </ul>
        <h3>Consonants</h3>
        <ul>
            <li>B, D, F, G, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z</li>
        </ul>
        <h3>Syllable structure</h3>
        <ul>
            <li>Every syllable must start with a consonant and end with a vowel except with verbs.</li>
        </ul>
        <h3>Pronunciation rules</h3>
        <ul>
            <li>"e" must always come after "i," except when "i" is followed by "y."</li>
            <li>The letter "h" is silent.</li>
            <li>The letter "j" makes an /h/ sound.</li>
            <li>The letter "c" does not exist.</li>
            <li>The letters "t" and "s" next to each other like "ts" makes the "z" sound.</li>
        </ul>
        <h2>Grammar</h2>
        <h3>Nouns</h3>
        <ul>
            <li>If the end of a word is a vowel, add "-s"</li>
            <li>If the end of a word is a consonant, add "-es"</li>
        </ul>
        <h3>Pronouns</h3>
        <table>
            <tr>
                <th scope="col">Pronoun</th>
                <th scope="col">Singular</th>
                <th scope="col">Plural</th>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>ke /kee/</td>
                <td>kes /kees/</td>
            </tr>
            <tr>
                <th scope="row">You</th>
                <td>stu /stoo/</td>
                <td>vuo /view/</td>
            </tr>
            <tr>
                <th scope="row">He/She</th>
                <td>sko (male), ska (female)</td>
                <td>sko/as</td>
            </tr>
        </table>
        <h3>Verbs</h3>
        <ul>
            <li>All infinitive verbs must end only with -er, -ar, -ir.</li>
            <li>-er and -ir verbs have "e" conjugations and -ar verbs have "a" conjugations.</li>
        </ul>
        <p><strong>Example:</strong></p>
        <ul>
            <li>fapir (meaning: to eat)</li>
            <li>radir (meaning: to run)</li>
            <li>tsukar (meaning: to swim)</li>
        </ul>
        <h3>Conjugations</h3>
        <ul>
            <li>Past Tense:</li>
        </ul>
        <table>
            <tr>
                <th scope="col"></th>
                <th scope="col">Singular</th>
                <th scope="col">Plural</th>
            </tr>
            <tr>
                <th scope="row">First Person</th>
                <td>-ie/ia - fapie (/fah-pee/)</td>
                <td>-emus/amus/imus - fapimus (/fah-pee-moos/)</td>
            </tr>
            <tr>
                <th scope="row">Second Person</th>
                <td>-iste/ista - fapiste (/fah-pee-steh/)</td>
                <td>-eron/aron - faperon (/fah-peh-rohn/)</td>
            </tr>
            <tr>
                <th scope="row">Third Person</th>
                <td>-ile/ila - fapile (/fah-pe-le/)</td>
                <td>-evon/avon - fapevon (/fah-pe-von/)</td>
            </tr>
        </table>

        <ul>
            <li>Present Tense:</li>
        </ul>
        <table>
            <tr>
                <th scope="col"></th>
                <th scope="col">Singular</th>
                <th scope="col">Plural</th>
            </tr>
            <tr>
                <th scope="row">First Person</th>
                <td>-e/a - fape (/fah-peh/)</td>
                <td>-emos/amos/imos - fapimos (/fah-pee-mohs/)</td>
            </tr>
            <tr>
                <th scope="row">Second Person</th>
                <td>-et/at - fapet (/fah-peht/)</td>
                <td>-ey/ay - fapey (/fah-peh-ee/)</td>
            </tr>
            <tr>
                <th scope="row">Third Person</th>
                <td>-es/as - fapes (/fah-pehs/)</td>
                <td>-en/an - fapen (/fah-pehn/)</td>
            </tr>
        </table>

        <ul>
            <li>Future Tense:</li>
        </ul>
        <table>
            <tr>
                <th scope="col"></th>
                <th scope="col">Singular</th>
                <th scope="col">Plural</th>
            </tr>
            <tr>
                <th scope="row">First Person</th>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row">Second Person</th>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row">Third Person</th>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>
</body>

</html>
