<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dictionary.css" rel="stylesheet" type="text/css" />
    <link href="/images/dictionaryIcon.png" rel="icon" type="image/x-icon" />
    <title>Kesko Dictionary</title>
</head>
<body>
    <div id="main">
        <h1>Kesko Dictionary</h1>
        <div class="travelBar">
            <a class="rules" href="/">Rules</a>
            <a class="letter" href="/dictionary/A">A</a>
            <a class="letter" href="#">B</a>
            <a class="letter" href="#">C</a>
            <a class="letter" href="#">D</a>
            <a class="letter" href="#">E</a>
            <a class="letter" href="#">F</a>
            <a class="letter" href="#">G</a>
            <a class="letter" href="#">H</a>
            <a class="letter" href="#">I</a>
            <a class="letter" href="#">J</a>
            <a class="letter" href="#">K</a>
            <a class="letter" href="#">L</a>
            <a class="letter" href="#">M</a>
            <a class="letter" href="#">N</a>
            <a class="letter" href="#">O</a>
            <a class="letter" href="#">P</a>
            <a class="letter" href="#">Q</a>
            <a class="letter" href="#">R</a>
            <a class="letter" href="#">S</a>
            <a class="letter" href="#">T</a>
            <a class="letter" href="#">U</a>
            <a class="letter" href="#">V</a>
            <a class="letter" href="#">W</a>
            <a class="letter" href="#">X</a>
            <a class="letter" href="#">Y</a>
            <a class="letter" href="#">Z</a>
            <a href="/dictionary/verbs">Verbs</a>
        </div>
    </div>

    <script src="/verbs.js"></script>
</body>
</html>
