.create {
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    width: 500px;
    max-width: 500px;
    height: 665px;
    max-height: 665px;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0, 0.2);
    border-radius: 100px;
    background: #3065cf;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 15px 3px 1px 3px;
    font-size: 41px;
}

#sumbit {
    font-size: 15px;
    padding: 5px 105px;
}